* {
    margin: 1%;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

/* Estilos do corpo */
body {
    display: flex;
    font-family: Arial, sans-serif;
    align-items: center;
    margin: 50px;
    color: #ffffff;
    align-content: space-around;
    justify-content: center;
    background: #367560;
    margin-top: 20px;
    background-image: url('ifmt2024.jpg');
}


/* Container principal */
.container {
        padding: 22px;
        border-radius: 14px;
        width: 80vw; /* Largura fixa para o formulário */
        margin-top: 20px;
        color: rgb(0, 0, 0);
}


.container h1 {
    text-align: center;    
    font-family: Arial, sans-serif;   
    margin-top: 60px;
}


.form-group {
    background-color: #33887a;
    padding: 20px;
    border-radius: 8px;
    width: 80vw; /* Largura fixa para o formulário */

}


.form-group label {
    text-align: center;
    font-family: Arial, sans-serif;
    border-radius: 8px;
    max-width: 113px;
    width: 48%;
    text-align: left;
}

.form-group a {
    text-align: center;
    font-family: Arial, sans-serif;
    color:rgb(255, 252, 252);
    text-align: center;
}

/* Título */
h1 {
    font-size: 45px;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 80%;


}

h2 {
    visibility: hidden;
}


/* Parágrafo */
p {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos do grupo de formulário */
.form-group {
    display: flex;
    flex-direction: column; /* Coloca os itens em coluna */
}

/* Labels */
label {
    margin-bottom: 5px; /* Espaçamento abaixo do label */
}

/* Inputs */
input[type="text"],
input[type="password"], input[type='email'] {
    padding: 10px;
    border: 1px solid rgb(80, 179, 80); /* Borda cinza clara */
    border-radius: 4px; /* Bordas arredondadas */
    margin-bottom: 15px; /* Espaçamento entre os campos */
}

/* Botão de envio */
button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
    border-radius: 28px;
    background-color: #54c785;
}


button:hover {
    background-color: #54c26c; /* Azul mais escuro ao passar o mouse */
}

/* Link para recuperação de senha */
a {
    text-align: center;
    color: rgb(104, 135, 175); /* Azul padrão para links */
    
    text-decoration: none; /* Remove o sublinhado do link */
}

a:hover {
    text-decoration: underline; /* Sublinha o link ao passar o mouse */
}
