body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    padding: 5%;
    background-image: url('ifmt2024.jpg');
}

input[type="text"],
select {
  width: 65%;
    padding-block: 5px;
    padding-inline: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 40px;
  /* Faz com que os elementos ocupem toda a largura do contêiner pai */
  /* Adiciona preenchimento interno para melhor aparência */
  /* Inclui o preenchimento e a borda na largura total */
  /* Borda padrão */
  /* Bordas arredondadas */
}

input[type="number"],
select {
  width: 65%;
    padding-block: 5px;
    padding-inline: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 40px;
  /* Faz com que os elementos ocupem toda a largura do contêiner pai */
  /* Adiciona preenchimento interno para melhor aparência */
  /* Inclui o preenchimento e a borda na largura total */
  /* Borda padrão */
  /* Bordas arredondadas */
}

input[type="date"],
select {
  width: 65%;
    padding-block: 5px;
    padding-inline: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 40px;
  /* Faz com que os elementos ocupem toda a largura do contêiner pai */
  /* Adiciona preenchimento interno para melhor aparência */
  /* Inclui o preenchimento e a borda na largura total */
  /* Borda padrão */
  /* Bordas arredondadas */
}

input[type="email"],
select {
  width: 65%;
  padding-block: 5px;
  padding-inline: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 40px;
  /* Faz com que os elementos ocupem toda a largura do contêiner pai */
  /* Adiciona preenchimento interno para melhor aparência */
  /* Inclui o preenchimento e a borda na largura total */
  /* Borda padrão */
  /* Bordas arredondadas */
}

.container6{
    height: 122px;
    left: 1;
    position: absolute;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    justify-content: flex-end;    
}

.container6 img {
    max-width:300px;
    max-height:300px;
    height: 300vh;
    padding: 2px;
    border-radius: 25px;
    box-shadow: 0 0 100px rgba(155, 155, 155, 0.96);
}

.container7{
    height: 122px;
    right: 1;
    position: absolute;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.container7 img {
    max-width:300px;
    max-height:300px;
    height: 300vh;
    padding: 2px;
    border-radius: 25px;
    box-shadow: 0 0 100px rgba(155, 155, 155, 0.96);
}

footer {
    flex-direction: column-reverse;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 2%;
    
}

.container h1 {
    text-align: center;
    margin-bottom: 29px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 280px;
    max-width: 400px;
    width: 200%;
    
}

.container5 {
    background: rgb(241, 231, 172);
    padding: 2px;
    border-radius: 20px;
    box-shadow: 0 0 100px rgb(255 255 255 / 96%);
    max-width: 280px;
    width: 280%;
    margin: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.container3 {
  padding: 1px;
  border-radius: 23px;
  max-width: 990px;
  width: 990%;
  margin: 0.0005%;
  font-family: 'Courier New', Courier, monospace;
  display: contents;
  justify-content: center;
  flex-direction: column-reverse;
  align-content: center;
}

.container {
  opacity: 80%;
  background: green;
  padding: 10px;
  border-radius: 28px;
  max-width: 300px;
}

.container h2 {
  text-align: center;
  margin-bottom: 29px;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(#367560);
  border-radius: 28px;
  max-width: 300px;
  width: 200%;
}

.form-gruop label {
  display: block;
  margin-bottom: 5px;
  border-radius: 40px;
}

.form-gruop input {
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.btn {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(#367560);
}

.dropdown {
    width: 300px;
    height: fit-content;
    box-sizing: border-box;
    position: relative;
  }

  .input-box {
    width: 95%;
    box-sizing: border-box;
    outline: 0.3mm solid rgba(0, 0, 0, 0.15);
    border-radius: 2mm;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 5px;
    margin-bottom: 15px;
  }

  .input-box::before {
    content: ">";
    font-family: Arial, sans-serif;
    position: absolute;
    font-size: 18px;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
    width: fit-content;
    height: fit-content;
  }

  .input-box.open::before {
    content: "<";
  }

  .input-box:empty::after {
    content: "----";
    color: rgba(0, 0, 0, 0.5);
  }

  .list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    border-radius: 2mm;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-height: 0;
    transition: 0.25s ease-out;
  }

  .list input {
    display: none;
  }

  .list label {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    font-family:  Arial, sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
  }

  .list label .material-icons-outlined,
  .input-box .material-icons-outlined {
    margin-right: 5px;
    font-size: 14px;
  }

  .list label:hover {
    background: rgba(0, 0, 0, 0.08);
  }

  input:checked + label::before {
    content: "done";
    font-family: Arial, sans-serif;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
    font-size: 18px;
  }

  .open {
    outline: 0.7mm solid #367560;
  }

  .title {
    font-family:  Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .search-box {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 8px;
  }

  #search {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 1mm;
    border: none;
    outline: 0.3mm solid rgba(0, 0, 0, 0.15);
    font-family: Arial, sans-serif;
  }


.btn {
    display: inline-block;
    width: 100%;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
    border-radius: 28px;
}

.btn:hover {
    background: linear-gradient(#367560);
}




.dropdown {
    width: 300px;
    height: fit-content;
    box-sizing: border-box;
    position: relative;
    align-items: center;
  }

  .input-box {
    width: 95%;
    box-sizing: border-box;
    outline: 0.3mm solid rgba(0, 0, 0, 0.15);
    border-radius: 2mm;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 5px;
    margin-bottom: 15px;
  }

  .input-box::before {
    content: ">";
    font-family: Arial, sans-serif;
    position: absolute;
    font-size: 18px;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
    width: fit-content;
    height: fit-content;
  }

  .input-box.open::before {
    content: "<";
  }

 

  .list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: fit-content;
    background: white;
    margin-top: 10px;
    border-radius: 2mm;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-height: 0;
    transition: 0.25s ease-out;
  }
  .list input {
    display: none;
  }

  .list label {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    font-family:  Arial, sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
  }

  .list label .material-icons-outlined,
  .input-box .material-icons-outlined {
    margin-right: 5px;
    font-size: 14px;
  }

  .list label:hover {
    background: rgba(0, 0, 0, 0.08);
  }

  input:checked + label {
    color: #367560;
    background: rgb(14, 50, 85);
  }

  input:checked + label::before {
    content: "done";
    font-family: Arial, sans-serif;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
    font-size: 18px;
  }

  .open {
    outline: 0.7mm solid #367560;
  }

  .title {
    font-family:  Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .search-box {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 8px;
  }

  #search {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 1mm;
    border: none;
    outline: 0.3mm solid rgba(0, 0, 0, 0.15);
    font-family: Arial, sans-serif;
  }

  #search:focus {
    outline: 0.5mm solid rgba(0, 0, 0, 0.35);
  }